In [28]:
import os,sys
from PIL import Image
import cv2
import pandas as pd

In [29]:
#annotation file path
ANNOTATION_FILE = 'data/annot_file.csv'
df = pd.read_csv(ANNOTATION_FILE)
df.head(10)

,Unnamed: 0,Unnamed: 0.1,files_jpg,files,text,xmin,ymin,xmax,ymax
0,0,0,0.jpg,0.png,MH15-TC-554,589,280,694,311
1,1,1,1.jpg,1.png,MH 02 CB 4545,89,397,254,448
2,2,2,3.jpg,3.png,KA03 1351,232,318,346,357
3,3,3,4.jpg,4.png,TN 06 0 0000,173,31,959,168
4,4,4,5.jpg,5.png,KA51MJ8156,125,286,252,319
5,5,5,6.jpg,6.png,HR 69 6969,248,254,409,297
6,6,6,8.jpg,8.png,TN 07 BU 5427,645,516,892,584
7,7,7,10.jpg,10.png,KL 55 R 2473,211,163,400,204
8,8,8,11.jpg,11.png,PY 01 BL 1155,352,382,487,430
9,9,9,12.jpg,12.png,MH 20 CS 1941,222,184,430,238

In [36]:
#image directory path
IMG_DIR = "images"
CROP_DIR = "crops"

files = df['files_jpg']
size = (200,300)

for file in files[:5]:
    print(file)
    img = cv2.imread(IMG_DIR+'/'+file)
    print(img.shape)
    #cv2.imshow('Cars Image',img)
    #cv2.waitKey(0)
    gray_img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
#     cv2.imshow('Gray Cars Image',gray_img)
#     cv2.destroyAllWindows()
    print(gray_img.shape)

0.jpg
(466, 806, 3)
(466, 806)
1.jpg
(449, 494, 3)
(449, 494)
3.jpg
(469, 500, 3)
(469, 500)
4.jpg
(563, 1001, 3)
(563, 1001)
5.jpg
(431, 416, 3)
(431, 416)